services:
  server:
    build:
      context: .
      dockerfile: Dockerfile.dev
    restart: always
    ports:
     - "8080:8080"
    volumes:
      - .:/app
    depends_on:
      db:
        condition: service_healthy

  db:
    image: mysql
    container_name: instaClone
    restart: always
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: example
      MYSQL_DATABASE: instaClone #nombre de la bbdd que se creara
    volumes:
      - db_data:/var/lib/mysql #aqui se guardan los datos que generamos de bbdd
      - ./migrations:/docker-entrypoint-initdb.d

    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  db_data: